.Contact {
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5vmax;

    background-image: url('../img/line.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.Contact h1 {
    font-family: 'Freehand', cursive;
    font-size: 5rem;
    font-weight: bold;
    background-color: #25a0db;
    background-image: linear-gradient(45deg,#25a0db,#7abf48);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Contact .container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.Contact .container a {
    color:rgb(39, 41, 49);
    text-decoration: none;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .1s linear;
    cursor: pointer;
}

.Contact .container a:hover {
    color:rgb(58, 61, 71);
    transform: scale(1.1);
}