.Footer {
	width: 100%;
	text-align: center;
	font-size: 0.75rem;
	font-weight: bold;

	background-color: #25a0db;
	background-image: linear-gradient(90deg, #25a0db, #7abf48);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
