.container {
	width: 100%;
	height: auto;

	display: flex;
	justify-content: space-between;
	align-items: stretch;

	opacity: 0;

	&:global(.showEntry) {
		opacity: 1;
	}

	@media (max-width: 1050px) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 5vmax;
	}
}

.info {
	width: 45%;

	font-size: 1.5rem;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	@media (max-width: 1050px) {
		width: 100%;
		gap: 2.5vmax;
	}
}

.technologies {
	display: flex;
	justify-content: space-around;
	font-size: 2rem;
	opacity: 0.8;
}

.title {
	display: flex;
	align-items: center;
	gap: 5vmax;

	font-weight: 700;

	picture {
		width: 10%;
		img {
			width: 100%;
		}
	}
	img {
		width: 10%;
	}
}

.name {
	margin: 0;
	border-left: solid 5px #25a0db;
	padding-left: 2%;
	font-size: 1.5rem;
}

.description {
	border: none;
	padding: 0;
	font-size: 1rem;
}

@mixin imageMixin {
	width: 100%;
	height: 100%;
	object-fit: cover;
	flex-shrink: 0;
	flex-grow: 0;
}

.images {
	width: 45%;
	height: 100%;
	position: relative;

	display: flex;
	overflow: hidden;

	picture {
		@include imageMixin;
	}

	img {
		@include imageMixin;
		transition: translate 0.5s;
		width: calc(100% - 0.44vmax);

		border: solid 0.22vmax transparent;
		border-image-slice: 1;
		border-image-source: linear-gradient(45deg, #25a0db, #1c79bf);
	}

	@media (max-width: 1050px) {
		width: 100%;
	}
}

.imgDots {
	position: absolute;
	bottom: 1vmax;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5vmax;
}

.selected {
	background-color: #7abf48 !important;
	border-color: darken(#7abf48, 20%) !important;
}

.imgDot {
	width: 1vmax;
	height: 1vmax;
	padding: 0;
	background-color: #25a0db;
	border: solid 0.2vmax #1c79bf;
	cursor: pointer;
	border-radius: 50%;
	position: relative;

	@media screen and (max-width: 1050px) {
		width: 1.5vmax;
		height: 1.5vmax;
	}
}

.link {
	width: 20%;
	padding: 0.5%;
	padding-inline: 1%;
	background: transparent;

	outline: none;
	border: solid 0.22vmax #1c79bf;
	border-radius: 1.5vmax;
	color: #1c79bf;
	font-weight: 700;
	font-size: 1rem;
	text-align: center;

	cursor: pointer;
	text-decoration: none;

	&:hover {
		border-color: #25a0db;
		color: #25a0db;
		transform: scale(1.05);
	}

	@media (max-width: 1300px) {
		width: 40%;
	}

	@media (max-width: 1050px) {
		width: auto;
	}
}

.buttons {
	display: flex;
	gap: 1vw;
}
