@use "/assets/settings.scss";

.container {
	gap: 5vh;
	gap: 5dvh;

	@include settings.flex(column, center, flex-start);
}

.title {
	font-weight: 900;
	font-size: 2rem;
	margin-left: 5vw;

	@include settings.textGradient(45deg, settings.$lightBlue, settings.$green);
}

.description {
	border-left: solid 0.4vmax rgb(39, 41, 49);

	font-size: 1rem;

	padding-left: 1vmax;
	margin-left: 5vw;

	margin-bottom: 5vh;
	margin-bottom: 5dvh;

	@include settings.borderGradient(
		45deg,
		settings.$lightBlue,
		settings.$green
	);
}
